*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

height:100vh;
background:
linear-gradient(
rgba(0,0,0,.35),
rgba(0,0,0,.35)
),
url("https://images.unsplash.com/photo-1519741497674-611481863552");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;

font-family:'Cairo',sans-serif;

overflow:hidden;

}



.container{

text-align:center;
color:white;

background:rgba(255,255,255,.15);

backdrop-filter:blur(10px);

padding:50px;

border-radius:30px;

animation:show 2s ease;

}


h3{

font-size:30px;

}



h1{

font-family:'Great Vibes';

font-size:90px;

margin:20px;

animation:pulse 3s infinite;

}


h1 span{

color:#ffd1dc;

}



.text{

font-size:22px;

max-width:500px;

}



.date{

margin:30px;

font-size:22px;

}



button{

padding:15px 40px;

border:none;

border-radius:30px;

background:#d88c9a;

color:white;

font-size:20px;

cursor:pointer;

transition:.5s;

}


button:hover{

transform:scale(1.1);

background:#ffb6c1;

}



/* الورود الطائرة */

.flower{

position:absolute;

font-size:30px;

animation:fly 8s linear infinite;

}



@keyframes fly{


0%{

transform:translateY(100vh) rotate(0);

opacity:1;

}


100%{

transform:translateY(-10vh) rotate(360deg);

opacity:0;

}

}



@keyframes pulse{

50%{

transform:scale(1.05);

}

}



@keyframes show{

from{

opacity:0;

transform:translateY(100px);

}

to{

opacity:1;

}

}



@media(max-width:600px){

h1{

font-size:60px;

}

.container{

padding:30px;

}

}